@import "tailwindcss";

:root {
   --muted: #333333;
   --cream: #F2EBDD;
   --text: #6D6D6D;
   --background: #EAEAEA;
   --accent: #009b5f;
}

@theme inline {
   --color-muted: var(--muted);
   --color-cream: var(--cream);
   --color-accent: var(--accent);
   --color-text: var(--text);
   --color-background: var(--background);
   --font-sans: var(--font-nunito-sans);
   --font-title: var(--font-unbounded-mono);
}

body {
   @apply font-sans bg-background;
}

p {
   @apply text-text;
}